.selected_message .messagebox-content {
  box-shadow: none !important;
}

.app-main {
  max-width: 100% !important;
}

#bottom_whitespace {
  height: 0 !important;
}

.private_messages_container.zoom-out.hidden-for-spectators,
#streams_header {
  background: none !important;
}

li.active-filter,
li.active-sub-filter {
  background-color: rgb(102, 190, 190) !important;
}

.active-sub-filter.zero-pm-unreads.pm-list-item.bottom_left_row,
.narrow-filter.active-filter {
  background-color: rgb(102, 190, 190);
}

#stream_filters .narrow-filter.active-filter > .bottom_left_row {
  background-color: rgb(90, 161, 161) !important;
}

#element::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

#element::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #18aaaa;
}

#element::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

/* scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #18aaaa !important;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

::-webkit-scrollbar-track {
  margin-bottom: 8px;
}

.rendered_markdown .emoji {
  width: 30px !important;
  height: 30px !important;
}
